version: 2
jobs:
 build:
   docker:
   - image: circleci/golang:1.15
   steps:
     - checkout
     
     - setup_remote_docker:
        version: 19.03.13
        docker_layer_caching: true
     - run: |
         echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
         export DOCKER_CLI_EXPERIMENTAL=enabled
         docker buildx version
         docker run --privileged --rm docker/binfmt:a7996909642ee92942dcd6cff44b9b95f08dad64
         docker buildx create --use --name mybuilder
         docker buildx inspect mybuilder --bootstrap
         docker buildx ls

     # deploy the image
     - run: docker buildx build -t $DOCKER_USER/elecv2pjd --platform=linux/arm64,linux/amd64 . --push
